nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 100px;
    padding-right: 80px;
    /* background-color: rgb(255, 247, 0); */
}

nav img {
    height: 30px;
    width: 100px;
}

nav button {
    border: none;
    background: none;
    font-size: 15px;
    margin-left: 20px;
    height: 40px;
}

.btn-grp {
    display: flex;
    align-items: center;
}
.signup {
    border-radius: 30px;
    background-color: #e63d56;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}